
<%= render "shared/s-header" %> 



<div class='registration-login-main'>
  <div class='form-login-box'>
    <div class='form-login-wrap'>
      <h2>登録が完了しました</h2>
      <%= link_to "トップへ戻る", root_path, class:'login-reg-btn'%>
    </div>
  </div>
</div>
